<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDr-d1FpguR8nlDKsEx68TGrLFp88TshOc</string>
	<key>GCM_SENDER_ID</key>
	<string>997289423588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.azurelight.AzureChat</string>
	<key>PROJECT_ID</key>
	<string>azurechat-bd8ac</string>
	<key>STORAGE_BUCKET</key>
	<string>azurechat-bd8ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997289423588:ios:879bd5b15b8082623bb2f1</string>
</dict>
</plist>