<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514782709195-ar5nr6hqrj9gou961ro482me090ptk4f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514782709195-ar5nr6hqrj9gou961ro482me090ptk4f</string>
	<key>API_KEY</key>
	<string>AIzaSyDbW2KqEZ_D6QeGBSb5nBtxs7X1UJukT_s</string>
	<key>GCM_SENDER_ID</key>
	<string>514782709195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.azurelight.SimpleChat</string>
	<key>PROJECT_ID</key>
	<string>simplechat-acfbb</string>
	<key>STORAGE_BUCKET</key>
	<string>simplechat-acfbb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514782709195:ios:e737cfe17082177883a24e</string>
</dict>
</plist>